/*    start section_background style
      ========:::::::::======+====== */
   
   $header_contactBg:#5956E8;
   $banner_bg:#5956E8;
   $hover_bg:#5956E8;
   $banner_buttonBg:#fff;
   $footer_bg:#EFEFFD;

   /*    start section_background style
          ========:::::::::============ */

  /*    start font_color style
        =====:::::::::======== */
      $header_ankor:#181818;
      $color_white:#fff;
      $banner_heading:#fff;
      $banner_paragraph:#fff;
      $banner_btnText:#5D5D5D;
      $text_hover:#5956E8;
      $paragraph_color:#181818;
      $heading_four:#181818;
      $team_hedingFour:#fff;
      $heading_five:#fff;
      $customer_headingFive:#5D5D5D;
      $latest_headingFive:#5956E8;
      $footer_a:#5D5D5D;
      $border_color:#5956E8;
  /*    start font_color style
        =====:::::::::======== */