#news{
      padding: 60px 0;
}
.news_heading{
      h2{
            @include heading_two;
      }
      p{
            @include paragraph;
      }
}
.news_card{
      margin-top: 40px;
      .card {
            padding: 10px;
            width: 100%  !important;
          }
          h4{
            @include heading_four;
            font-size: 25px
          }
          p{
            @include paragraph;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 5px
          }
          a{
            @include ankor_text;
            font-size: 16px;
            color: $text_hover;
            margin-bottom: 10px;
          }
}